.userCard {
    max-width: 20.2rem;
    height: auto;
    margin-bottom: 1.3rem;
    padding: 1.4rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 32px #0E2A6029;
    border: 0 solid;
} 