.header {
    width: 18.75rem;
    height: 1.7rem;
    margin-bottom: 1rem;
    .header__title {
        font-size: 0.9rem;
        color: #303030;
        display: flex;
        margin-bottom: 0.3em;
        .header__title__year{
            margin-left: 0.4rem;
            letter-spacing: 0px;
            color: #22BF86;
            font-size: 0.6rem;
        }
    }
    .header__vin{
        font-size: 0.5rem;
    }
}  